* {
  padding: 0;
  margin: 0;
  text-decoration: none !important;
  list-style: none !important;
  font-family: Arial, Helvetica, sans-serif;
}
p {
  margin: 0;
}
.box {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  padding: 20px;
  border: 2px solid;
  border-radius: 10px;
}
.home {
  padding: 20px 0;
}
.accordion-button::after {
  filter: invert(1);
}
.headerCountBox {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 10px;
}

.formHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.pBorder {
  border: 2px solid gray;
}
.headerBox {
  padding: 0 5px;
  margin-right: 50px;
}
.headerHeading {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 15px;
  padding: 0;
  margin: 0;
  color: gray;
}
.headerCount {
  font-weight: bold;
  font-size: 20px;
  padding: 5px 0;
  margin: 0;
}
.bodyArea {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}
.bodyTextArea {
  border: none;
  box-shadow: rgba(50, 50, 93, 0.058) 30px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.bodyTextArea {
  padding: 20px;
}

.bodyTextArea:focus {
  outline: 0;
  box-shadow: 0 0 0 0.25rem #eca72f50;
}

.welcomeText h2 {
  text-align: center;
  font-weight: 600;
  margin: 0;
}
.previewDisplay {
  display: none;
}

.alertPosition {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 2;
}

.bodyBtnBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}
.myBtn {
  background: #eca72f;
  color: #fff;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border: 2px solid #fff;
}
.myBtn:hover {
  border: 2px solid #eca72f;
  color: #fff;
}

.btn:focus {
  box-shadow: none !important;
}

.previewText {
  width: 100%;
  position: relative;
}
.previewText p {
  display: block;
  overflow-wrap: break-word;
  max-width: 100%;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid #eca72f50;
}

.headingTxt {
  padding: 0 25px;
  font-size: 15px;
}

.welcomeBox {
  text-align: center;
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.author {
  padding: 15px;
  font-size: 14px;
  color: gray;
  text-align: center;
}
.authorBox{
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  border-radius: 6px;
  margin-top: 20px;
}

.bodyTextBox{
  width: 100%;
}
/* darkmode color */
.form-check-input:checked {
  background-color: #ff0000;
  border-color: #ff0000;
}

/* about page */
.myContainer {
  margin-top: 40px;
}
.aboutHeading {
  padding: 5px 20px;
  font-weight: bold;
  background-color: #eca72f21;
  border-radius: 10px;
  text-align: center;
}
.aboutBox {
  display: flex;
  padding: 0 20px;
}
.aboutText h5 {
  margin: 15px 0;
  color: #eca72f;
  font-weight: bold;
}
.aboutText p {
  font-size: 15px;
  padding-bottom: 5px;
  text-align: justify;
}
.nav-link{
  cursor: pointer;
}
.nav-link:hover {
  color: rgb(255, 0, 0) !important;
}

@media only screen and (max-width: 1200px){
  .myBtn{
    font-size: 15px;
  }
  .bodyArea{
    display: flex;
    flex-direction: column-reverse;
  }
  .welcomeBox{
    width: 100%;
  }
  .bodyBtnBox{
    justify-content: space-around;
  }
  .bodyTextBox{
    margin-top: 20px;
  }
  .headingTxt{
    margin-top: 20px;
    padding: 0 10px;
  }

}
@media only screen and (max-width: 785px){
  .myBtn{
    font-size: 15px;
  }
  .bodyBtnBox{
    justify-content: space-around;
    max-width: 100%;
    flex-wrap: wrap;
  }
  .bodyTextBox{
    margin-top: 20px;
  }
  .headerCountBox{
    justify-content: space-evenly;
  }

}
@media only screen and (max-width: 550px){
  .headerHeading{
    font-size: 13px;
  }
  .headerCount{
    font-size: 15px;
  }
  .headerBox{
    margin-right: 10px;
  }

}
@media only screen and (max-width: 360px){
  .headerHeading{
    font-size: 10px;
  }
  .headerCount{
    font-size: 13px;
  }
  .lottie {
    /* margin-left: -73px !important; */
    /* display: none; */
  }

}

@media only screen and (max-width: 1000px){
  .aboutBox{
    flex-direction: column-reverse ;
  }
}